@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #8ECAE6; /* Sky Blue */
  --secondary-color: #219EBC; /* Blue Green */
  --accent1-color: #023047; /* Prussian Blue */
  --accent2-color: #FFB703; /* Selective Yellow */
  --heading-font: 'Roboto', sans-serif; /* Heading font */
  --paragraph-font: 'Roboto', sans-serif; /* Paragraph or default font */
  --nav-background-color: #023047; /* Navigation background color */
  --nav-link-color: #FFFFFF; /* Navigation link color */
  --nav-hover-link-color: #FFB703; /* Navigation hover link color */
  --nav-hover-background-color: #219EBC; /* Navigation hover background color */
}

body {
  font-family: var(--paragraph-font); /* Using the paragraph-font CSS variable */
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font); /* Using the heading-font CSS variable */
  color: var(--primary-color); /* Color of headings */
}

header {
  padding: 20px;
  background-color: var(--accent1-color); /* Background color for header */
}

p {
  padding: 25px; /* Padding for paragraphs */
}

nav {
  background-color: var(--nav-background-color); /* Background color for navigation */
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color); /* Link color in navigation */
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color); 
}

nav a:hover {
  color: var(--nav-hover-link-color); /* Hover link color in navigation */
  background-color: var(--nav-hover-background-color); /* Background color on hover in navigation */
}